$ cat .gitattributes

*.2 linguist-documentation
*.part0 linguist-documentation
*.part1 linguist-documentation
*.part2 linguist-documentation
*.part3 linguist-documentation
*.part4 linguist-documentation
*.part5 linguist-documentation
*.part6 linguist-documentation
